.ProductList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Product {
  width: 300px;
  text-align: center;
  margin: 20px;
  border-bottom: 2px solid #F5F5F5;
  background: white;
  font-family: "Open Sans";
  transition: .3s ease-in;

}
.Product:hover {
  border-bottom: 2px solid #fc5a5a;
}
.Product img {
  flex-wrap: wrap;

  display: block;
  max-width: 100%;
  width: 300px;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}
.Product {
  background: #fafafa;
  padding: 0 0;
}
.Product h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}
.price {
  font-size: 16px;
  color: #fc5a5a;
  display: block;
  margin-bottom: 12px;
}

/* @media screen and (max-width: 768px) {
  .ProductList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .ProductList {
    grid-template-columns: repeat(1, 1fr);
  }
} */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */