body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Home {
  
  element.style {
  }
  @media (max-width: 767px)
  .elementor-reverse-mobile>.elementor-container>:nth-child(2) {
      order: 9;
  }
  .elementor-element {
      --widgets-spacing: 20px;
  }
  .elementor-element, .elementor-lightbox {
      --swiper-theme-color: #000;
      --swiper-navigation-size: 44px;
      --swiper-pagination-bullet-size: 6px;
      --swiper-pagination-bullet-horizontal-gap: 6px;
  }
  @media (max-width: 767px)
  .elementor-column {
      width: 100%;
  }
  .elementor-column {
      position: relative;
      min-height: 1px;
      display: flex;
  }
}
.About img {
  width: 400px;
}
.About p {
  margin-left: 20px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  color: fuchsia;
}
.About h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: mediumorchid;
}
.About .cartochka {
  display: flex;
  
}
.Home img {
  width: 100%;
}
.Home .catochka {
  display: flex;

}
.Home .catochka img {
  width: 48%;
  padding-top: 20px;
  
}
.Home .catochka .sweet {
  padding-right: 15px;
}
.Home .catochka .sweet1 {
  padding-left: 15px;
}
.Home h1 {
  color: mediumorchid;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
 .Home h3 {
  font-weight: 800px;
  text-align: center;
  font-size: 35px;
  color: rgba(46, 84, 209, 0.822);
 }