.Nav {
  align-items: center;
  justify-content: center;
} 
.Nav ul {
  display: flex;
}
.Nav li a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: 0.1s ease;
}
.Nav .NavItem a:hover, 
.Nav .NavItem a.active {
  color: black;
}  
.Nav ul li {
  text-align: center;
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
.NavItem a:after {
  background-color: black;
  display: block;
  content: "";
  height: 2px; 
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.NavItem a:hover:after,
  .NavItem a:focus:after {
    width: 100%;
  }